@model PorfolioMVC.Models.ContactViewModel

@{ 
    ViewBag.Title = "Email Confirmation";
}
<div>
    @if (Model != null)
    {
        <h2>Thank you for your message @Model.Name.</h2>
        <p>We will respond to you at @Model.Email as soon as possible!</p>
    }
</div>