@{
    ViewBag.Title = "Home Page";
}


<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="~/Content/assets/img/Family.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>A Little About Me</h3>
                <p class="fst-italic">
                    Family orientated father of two boys and one girl. In our spare time, my wife and I love to travel. I also enjoy computer programming, helping others, and playing golf for fun.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Dedicated and Hardworking person that is always improving and learning.</li>
                    <li><i class="ri-check-double-line"></i> Able to work by self and within a team to accomplish a task on time.</li>
                    <li><i class="ri-check-double-line"></i> Always willing to try and produce the best outcome possible and assist others to do the best possible work that they can do.</li>
                </ul>
                <p>
                    I try my best to live up to the LDRSHIP acronym. Loyalty, Duty, Respect, Selfless Service, Honor, Integrity, and Personal Courage. In today's environment it is trying at times, but I reflect on how I can improve everyday.
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->
<!-- ======= Values ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
        <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide" style="color: gray; font-size: 18PX; font-weight: bolder;">LDRSHIP</div>
                <div class="swiper-slide" style="color: lightgray; font-size: 18PX; font-weight: bolder;">LOYALTY</div>
                <div class="swiper-slide" style="color: gray; font-size: 18PX; font-weight: bolder;">DUTY</div>
                <div class="swiper-slide" style="color: lightgray; font-size: 18PX; font-weight: bolder;">RESPECT</div>
                <div class="swiper-slide" style="color: gray; font-size: 17PX; font-weight: bolder;">SELFLESS SERVICE</div>
                <div class="swiper-slide" style="color: lightgray; font-size: 18PX; font-weight: bolder;">HONOR</div>
                <div class="swiper-slide" style="color: gray; font-size: 18PX; font-weight: bolder;">INTEGRITY</div>
                <div class="swiper-slide" style="color: lightgray; font-size: 17PX; font-weight: bolder;">PERSONAL COURAGE</div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section><!-- End Values Section -->
<!-- ======= Work History ======= -->
<section id="features" class="features">
    <div class="container" data-aos="fade-up">
        <div class="row">          
            <div class="image col-lg-6" style='background-image: URL("/Content/assets/img/Me.JPG");' data-aos="fade-right"></div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">                  
                    <h4>Military Service</h4>
                    <p>I was in combat arms in the Army. I spent one year in Korea. I did two tours in Iraq OIF 1-3 OEF 1 2001-2006. I joined right after Sept. 11.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">                   
                    <h4>G & R Construction</h4>
                    <p>I roofed while I was attending college to become a Registered Nurse. I started over at the bottom and worked my way up.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">                  
                    <h4>Bothwell Hospital</h4>
                    <p>I was a RN there for five years. First year in the ER, then four years in Recovery taking call for emergency surgeries.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">                  
                    <h4>Capital Region Medical Center</h4>
                    <p>I was a RN there for five years. I worked on the Rehabilitation unit. I started on nights and worked my way to the day shift. During the time I was there I became a charge RN.</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Work History Section -->
<!-- ======= Click for Resume Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">          
            <p>Resume</p>
        </div>
        <div class="row">           
            <div class="col-lg-6" style="margin:auto;" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="~/Content/assets/img/ANTHONY MILLAN JR. Resume.pdf" target="_blank">Resume</a></h4>
                    
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->
<!-- ======= CTA Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
        <div class="text-center">
            <h3>Call To Action</h3>
            <p> A dedicated and hard working web developer to be an added asset to your developmental team.</p>
            <a class="nav-link scrollto get-started-btn cta-btn" href="#contact">Call To Action</a>
        </div>
    </div>
</section><!-- End CTA Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Check My Portfolio</p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/Fed1ProjectFull.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mock School Website</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="~/Content/assets/img/Fed1ProjectFull.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Mock School Website"><i class="bx bx-plus"></i></a>
                            <a href="@Url.Action("PortfolioDetails", "Home")" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/RetroGame.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dungeon Application</h4>
                        <p>Web</p>
                        <div class="portfolio-links">
                            <a href="~/Content/assets/img/RetroGame.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/assets/img/GolfBall.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Golf Ball Store</h4>
                        <p>App</p>
                        <div class="portfolio-links">
                            <a href="~/Content/assets/img/GolfBall.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Golf Ball Store"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            A person who always go above and beyond what is asked of him.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Proud of all the time and work you put in everything you do.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Highly motivated individual. First to come into work and the last one to leave.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Very professional individual willing to go above and beyond.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Very detailed oriented person that has found multiple items that needed to be fixed.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Classmates</h2>
            <p>Check our Class</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/ChrisA.png" style="max-width:100%; height:250px;" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Christopher Allen</h4>
                        <span><a href="http://www.c-allen.com/" target="_blank">Portfolio Page</a></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/VirgilB.png" style="max-width:100%; height:250px;" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Virgil Bierschwale</h4>
                        <span><a href="http://www.bierschwalesoft.com/" target="_blank">Portfolio Page</a></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/Jerod.png" style="max-width:100%; height:250px;" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Jerod Denny</h4>
                        <span><a href="http://www..com/" target="_blank">Portfolio Page</a></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/diplacito.lynn1.png" style="max-width:100%; height:250px;" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Lynn Diplacito</h4>
                        <span><a href="http://www.lynn-dcoding.com/" target="_blank">Portfolio Page</a></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/amberMills.png" style="max-width:100%; height:250px;" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Amber Mills</h4>
                        <span><a href="http://www.amber-mills.com/" target="_blank">Portfolio Page</a></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/JoshO.png" style="max-width:100%; height:250px;" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Joshua Owens</h4>
                        <span><a href="http://joshuaowens.net/" target="_blank">Portfolio Page</a></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/team-4.jpg" style="max-width:100%; height:250px;" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Dominic Perez</h4>
                        <span><a href="http://www.d-perez.net/" target="_blank">Portfolio Page</a></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="~/Content/assets/img/team/team-1.jpg" style="max-width:100%; height:250px;" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Max Smith</h4>
                        <span><a href="http://www..com/" target="_blank">Portfolio Page</a></span>
                    </div>
                </div>
            </div>                                          
        </div>
    </div>
</section><!-- End Team Section -->
